body {
    background-image: url("../Asset/background.gif");
    background-color: rgb(255, 241, 184);
    background-size: cover;
    font-family: 'Carter One', cursive;
}

#board {

    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 25%;
    box-shadow: 1px 1px 1px 1px rgba(75, 30, 0, 0.747);
    background-image: url("../Asset/board.jpg");
    min-height: 400px;
}

li {
    font-size: 3.5vw;
    color: cornsilk;
    text-shadow: 0.2vw 0.2vw black;
    transition: transform .2s;
}

li:hover {
    transform: scale(1.3);
}

.pit1 {
    background-color: rgba(20, 74, 105, 0.6);
    border-radius: 45%;
    box-shadow: 1px 1px 1px 1px rgb(20, 74, 105, 0.6);
    margin: 1.3vw;
    padding: 2vw;
}

.pit2 {
    background-color: rgb(182, 5, 5, 0.6);
    border-radius: 45%;
    box-shadow: 1px 1px 1px 1px rgba(182, 5, 5, 0.6);
    margin: 1.3vw;
    padding: 2vw;
}

#score {
    text-align: center;
    border-collapse: separate;
    border-spacing: 1vw 1vw;
}

#title1 {
    font-weight: bold;
    font-size: 6vw;
    color: cornsilk;
    text-shadow: 0.2vw 0.2vw black;
}

.title2 {
    font-weight: bold;
    font-size: 2vw;
}

.value {
    color: cornsilk;
    text-shadow: 0.2vw 0.2vw black;
    font-size: 3vw;
    font-weight: bold;
    border-radius: 25%;
}

#player2score {
    background-color: rgba(182, 5, 5, 0.6);
    color: cornsilk;
    text-shadow: 0.2vw 0.2vw black;
    padding-right: 5vw;
    padding-left: 5vw;
    box-shadow: 1px 1px 3px 3px rgb(182, 5, 5, 0.6);
    border-radius: 25%;
}

#player1score {
    background-color: rgba(20, 74, 105, 0.6);
    color: cornsilk;
    text-shadow: 0.2vw 0.2vw black;
    padding-right: 5vw;
    padding-left: 5vw;
    box-shadow: 1px 1px 3px 3px rgb(20, 74, 105, 0.6);
    border-radius: 25%;
}

#playingplayer {
    text-align: center;
    color: cornsilk;
    text-shadow: 0.2vw 0.2vw black;
    font-size: 2vw;
}

#reset-button {
    box-shadow: 1px 1px 1px 1px #28a746be;
    margin: 2vw;
}

#rules {
    color: cornsilk;
    text-shadow: 0.2vw 0.2vw black;
    font-size: 1.6vw;
}

#drawrules {
    color: cornsilk;
    text-shadow: 0.2vw 0.2vw black;
    font-size: 1.6vw;
}

.hidden {
    display: none;
}